_site/.netlify/
_site/01-pvalues.md
_site/02-problems.md
_site/03-likelihoods.md
_site/04-bayes.md
_site/05-more-likelihoods.md
_site/06-prior-I.md
_site/07-prior-II.md
_site/index.md
_site/part5_draft.md
assessment/link.md
book/01-pvalues.Rmd
book/01-pvalues.md
book/02-problems.Rmd
book/02-problems.md
book/03-likelihoods.Rmd
book/03-likelihoods.md
book/04-bayes.Rmd
book/04-bayes.md
book/05-more-likelihoods.Rmd
book/05-more-likelihoods.md
book/06-prior-I.Rmd
book/06-prior-I.md
book/07-prior-II.md
book/08-final-thoughts.Rmd
book/08-final-thoughts.md
book/Thomas_Bayes.png
book/_bookdown_files/
book/_main.pdf
book/_main.rds
book/alt_prior.png
book/bayesplay_interface.png
book/bp_likelihood.png
book/bp_prior_alt.png
book/bp_prior_null.png
book/calculate.png
book/colab-badge.png
book/define_likelihood.png
book/index.md
book/model_predictions.png
book/null_prior.png
book/show_rcode.png
book/truncate.png
book/xenia_table.png
src/_bookdown_files/
src/_main.rds
termpdf.log
