.DS_store
termpdf.log
_bookdown_files
# Local Netlify folder
.netlify
*.rds
*.md
book/01-pvalues.Rmd
book/02-problems.Rmd
book/03-likelihoods.Rmd
book/04-bayes.Rmd
book/05-more-likelihoods.Rmd
book/Thomas_Bayes.png
book/_main.pdf
book/alt_prior.png
book/bayesplay_interface.png
book/calculate.png
book/colab-badge.png
book/define_likelihood.png
book/model_predictions.png
book/null_prior.png
book/show_rcode.png
